<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="C:\Users\Office\PhpstormProjects\Uczciwa Cena\js\cos.js" defer></script>
    <title>Title</title>
</head>
<body>
<main>
<label for="red">Red</label>
<input type="radio" id="red" name="windowcolor" data-color="red" />
<label for="green">Green</label>
<input type="radio" id="green" name="windowcolor" data-color="green" />
<label for="blue">Blue</label>
<input type="radio" id="blue" name="windowcolor" data-color="blue" />
</main>
</body>
</html>