<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/zalogowany_main.css">
  <link rel="stylesheet" type="text/css" href="../css/profile_settings.css">
  <link rel="stylesheet" type="text/css" href="../css/profile_like.css">
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,300;0,400;0,500;1,200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Glegoo?query=glegoo"/>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/84b42560c5.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
  <title> SETTINGS </title>
</head>

<body>
<div class="base-container">
  <header>
    <nav>
      <img id="logo" src="../img/logo2.svg">
      <div class="search-bar">
        <input class="userInfo" placeholder="miasto, województwo" type="text">
        <img id="icons" src="../uploads/ikonkiPNG/lupka.png"></img>
      </div>
      <div id="buttons">
        <div class="concreteButton">
          <button class="profileButton"></button>
          profil
        </div>
        <div class="concreteButton">
          <button class="alarmButton"></button>
          powiadomienia
        </div>
        <div class="concreteButton">
          <button class="logoutButton"></button>
          wyloguj
        </div>
      </div>
    </nav>
  </header>

  <main>

    <nav2>
      <button class="optionButton">moje ogłoszenia</button>
      <button class="optionButton">polubione</button>
      <button class="optionButton">ustawienia</button>
    </nav2>

      <form>
        <br>imie</br>
        <input name="name" type="text">
        <br>nazwisko</br>
        <input name="surname" type="text">
        <br>miasto lub województwo</br>
        <input name="place" type="text">
        <br>email</br>
        <input name="email" type="text">
        <br>hasło</br>
        <input name="password" type="password">
        <br>powtórz hasło</br>
        <input name="repeatedPassword" type="text">
        <br>numer telefonu</br>
        <input name="phone" type="text">
        </br> </br>
        <button class="button">ZAPISZ ZMIANY</button>

      </form>




  </main>
</div>
</body>